<p>form-control-outlet:</p>
<div>
  <form-control-outlet
    [formControl]="formControl"
    [dynamicComponent]="dynamicComponet"
  >
    <ng-container *ngIf="otherControl.value === 'ggg'; else sayOther"
      >Lol, what are you doing d:</ng-container
    >
    <ng-template #sayOther>usual text</ng-template>
  </form-control-outlet>

  <p>formControl value: {{ formControl.getRawValue() }}</p>
</div>

<br />
<p>Enter ggg to this control:</p>
<app-custom-input [formControl]="otherControl"></app-custom-input>
